<body style="background: url('https://wallpapercave.com/dwp1x/wp9172836.jpg'); background-position: center center;background-repeat: no-repeat, repeat-y ,repeat-x; background-attachment: fixed, scroll; background-size: cover;">
<div class="text-aling:center center">
<h1><strong><u>Bienvenidos a la pagina</u></strong></h1>
</div>
<div>
<h2><strong><u>Curriculum</u></strong></h2>
<a href=".\assets\curriculum_Vitae2.docx.pdf">
<img alt="Curriculum Vitae" 
     src=".\assets\Captura.jpg"
	 width="auto" 
	 height="auto"></a>
<br>
</div>
<div>
<h2><strong><u>Sonic sin conexion</u></strong></h2>
<a href=".\assets\prueba 4.html">
<img alt="Sonic sin conexion" 
     src=".\assets\sonic.jpg"
	 width="auto" 
	 height="auto"></a>
<br>
</div>
<div>
<h2><strong><u>Mario sin conexion</u></strong></h2>
<a href=".\assets\prueba 5.html"> 
<img alt="Mario sin conexion" 
     src=".\assets\mario.jpg"
	 width="auto" 
	 height="auto"></a>
<br>
</div>
<div>
<h2><strong><u>Yoshi sin conexion</u></strong></h2>
<a href=".\assets\prueba 6.html">
<img alt="Yoshi sin conexion" 
     src=".\assets\yoshi.jpg"
	 width="auto" 
	 height="auto"></a>
<br>
</div>
<div class="text-aling:center center">
<h2><strong><u>Quiero conocer tu opinion</u></strong></h2>
<br>
<form>
<textarea value="textarea" rows="10" cols="50">Escriba aqui</textarea>
</form>
<br>
<button style="width:auto; height:auto;" type="submit" value="submit">
<a href="'.\alta-usuario/alta-usuario.component.html';" (click)="reload();"></a>Enviar</button>
<button style="width:auto; height:auto;" type="reset" value="reset">Limpiar</button>
</div>
<div class="text-aling:center center">
<h2><strong><u>Gracias por su visita!!!</u></strong></h2>
</div>
</body>